<popups>

  <!-- Register Popup -->
  <div id="pop-register" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" data-aos="zoom-in-up" data-aos-duration="800">&times;</button>
          <h3 class="modal-title  blue oR m0">REGISTER</h3>
          <span class="light oR" style="font-size: 14px">Enter your informations to register.</span>
        </div>
        <form action="">
          <div class="modal-body">
            <div class="input-box">
              <input placeholder="Full Name" type="text" required>
              <span style="position: absolute"><i class="fa fa-user"></i></span>
            </div>
            <div class="input-box">
              <input placeholder="Email Address" type="email" required>
              <span style="position: absolute"><i class="fa fa-envelope-o"></i></span>
            </div>
            <div class="input-box">
              <input placeholder="Login Key" type="text" required>
              <span style="position: absolute"><i class="fa fa-key"></i></span>
            </div>
            <div class="input-box">
              <input placeholder="Confirm Login Key" type="text" required>
              <span style="position: absolute"><i class="fa fa-key"></i></span>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-gradient" data-dismiss="modal">Register</button>
          </div>
        </form>
      </div>

    </div>
  </div>
  <!-- Register Popup -->

  <!-- About Us Popup -->
  <div id="pop-about" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" data-aos="zoom-in-up" data-aos-duration="800">&times;</button>
          <h3 class="modal-title  gold-gradient-color oR m0">About Us</h3>
        </div>
        <div class="modal-body">
          <p class="light oR">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          <p class="light oR">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          <p class="light oR">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          <p class="light oR">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-gradient" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
  <!-- About Us Popup -->

  <!-- Think Popup -->
  <div id="pop-read-more1" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" data-aos="zoom-in-up" data-aos-duration="800">&times;</button>
          <h3 class="modal-title  gold-gradient-color oR m0">Think</h3>
        </div>
        <div class="modal-body">
          <p class="light oR">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          <p class="light oR">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-gradient" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
  <!-- Think Popup -->

  <!-- Create Popup -->
  <div id="pop-read-more2" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" data-aos="zoom-in-up" data-aos-duration="800">&times;</button>
          <h3 class="modal-title  gold-gradient-color oR m0">Create</h3>
        </div>
        <div class="modal-body">
          <p class="light oR">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          <p class="light oR">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-gradient" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
  <!-- Create Popup -->

  <!-- Sell Popup -->
  <div id="pop-read-more3" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" data-aos="zoom-in-up" data-aos-duration="800">&times;</button>
          <h3 class="modal-title  gold-gradient-color oR m0">Sell</h3>
        </div>
        <div class="modal-body">
          <p class="light oR">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          <p class="light oR">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-gradient" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
  <!-- Sell Popup -->

  <!-- Earn Popup -->
  <div id="pop-read-more4" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" data-aos="zoom-in-up" data-aos-duration="800">&times;</button>
          <h3 class="modal-title  gold-gradient-color oR m0">Earn</h3>
        </div>
        <div class="modal-body">
          <p class="light oR">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          <p class="light oR">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-gradient" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
  <!-- Earn Popup -->

</popups>
