<section id="how-section" class="sectionP60 grey-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-6 col-md-offset-0 col-sm-10 col-xs-12">
          <div data-aos="fade-right" data-aos-duration="1000">
            <div class="heading-text">
              <span class="blue-gradient-color">How we work?</span>
            </div>
            <p class="light rL" style="font-size: 16px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 p0 sectionP40">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="service2" data-aos="zoom-in" data-aos-duration="1000">
              <div class="service2-icon">
                <i class="gold-gradient-color fa fa-lightbulb-o"></i>
              </div>
              <div class="service2-desc">
                <h4 class="blue oB">Think</h4>
                <p class="light oR">Lorem ipsum dolor sit amet, consectetur adipisicing elit, Aliquam amet beatae.</p>
                <a href="javascript:;" class="gold" data-toggle="modal" data-target="#pop-read-more1">Read more...</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="service2" data-aos="zoom-in" data-aos-duration="1000">
              <div class="service2-icon">
                <i class="gold-gradient-color fa fa-pencil"></i>
              </div>
              <div class="service2-desc">
                <h4 class="blue oB">Create</h4>
                <p class="light oR">Lorem ipsum dolor sit amet, consectetur adipisicing elit, Aliquam amet beatae.</p>
                <a href="javascript:;" class="gold" data-toggle="modal" data-target="#pop-read-more2">Read more...</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="service2" data-aos="zoom-in" data-aos-duration="1000">
              <div class="service2-icon">
                <i class="gold-gradient-color fa fa-money"></i>
              </div>
              <div class="service2-desc">
                <h4 class="blue oB">Sell</h4>
                <p class="light oR">Lorem ipsum dolor sit amet, consectetur adipisicing elit, Aliquam amet beatae.</p>
                <a href="javascript:;" class="gold" data-toggle="modal" data-target="#pop-read-more3">Read more...</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="service2" data-aos="zoom-in" data-aos-duration="1000">
              <div class="service2-icon">
                <i class="gold-gradient-color fa fa-bullhorn"></i>
              </div>
              <div class="service2-desc">
                <h4 class="blue oB">Earn</h4>
                <p class="light oR">Lorem ipsum dolor sit amet, consectetur adipisicing elit, Aliquam amet beatae.</p>
                <a href="javascript:;" class="gold" data-toggle="modal" data-target="#pop-read-more4">Read more...</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
