<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header logoo">
      <button id="tog-btn" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#home-section"><img class="img-responsive" width="146" height="42" src="../../assets/images/Logo.png"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right hidden-xs hidden-sm">
        <li class="gold"><app-buttons></app-buttons></li>
      </ul>
      <ul id="navigation" class="nav navbar-nav navbar-right">
        <li><a class="active" href="#home-section">{{ menuItem1 }}</a></li>
        <li><a href="#about-section">About</a></li>
        <li><a href="#why-us-section">Why Us?</a></li>
        <li><a href="#how-section">How?</a></li>
        <li><a href="#offers-section">Offers</a></li>
        <li><a href="#team-section">Team</a></li>
        <li><a href="#testimonial-section">Testimonial</a></li>
        <li><a href="#contact-section">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right visible-xs visible-sm">
        <li class="gold" style="border-top: 1px solid rgba(255,255,255,0.1)"><a href="javascript:;" data-toggle="modal" data-target="#pop-register">Register</a></li>
      </ul>
    </div>

  </div>
</nav>
