.navbar-default{
  background: transparent;
  border: none;
  position: absolute;
  width: 100%;
  margin-bottom: 0;
  border-radius: 0;
  box-shadow: none;
  z-index: 999;
}
.navbar-nav.navbar-right > li{
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 1px;
}
.navbar-nav.navbar-right > li > a{
  padding: 10px 20px;
  color: #fff;
  font-family: open-regular;
  letter-spacing: 1px;
  font-size: 15px;
  border-radius: 3px;
}
.navbar-nav.navbar-right > li > a:focus{
  background: transparent;
  color: #FDA10E;
}
.navbar-nav.navbar-right > li > a:hover{
  background: transparent;
  color: #FDA10E;
}
.navbar-nav.navbar-right > li > a.active{
  background: transparent;
  color: #FDA10E;
}
.navbar-nav.navbar-right > li > a.active:hover{
  background: transparent;
  color: #FDA10E;
}
.navbar-nav.navbar-right > li.gold{
  padding-top: 12px;
}
.navbar-nav.navbar-right > li.gold > a{
  color: #FC7C11;
}
.navbar-nav.navbar-right > li.gold > a:hover{
  color: #fff;
  background: transparent;
}
.navbar-brand {
  float: left;
  height: auto;
  padding-top: 25px;
}
.navbar-toggle{
  margin-top: 25px;
}
.navbar-collapse.collapse.in{
  max-height: 80vh !important;
  overflow-y: scroll;
}

.nav-justified{
  border: none;
}
.nav-tabs.nav-justified > li > a{
  border-radius: 0;
  border-color: #eee;
  border-bottom: none !important;
  padding-top: 25px;
  padding-bottom: 25px;
  background: transparent;
  color: #6011b1;
  font-family: open-regular;
  font-size: 16px;
}
.nav-tabs.nav-justified > li > a:hover{
  background-color: #fff;
}
.nav-tabs.nav-justified > li.active{
  background-color: #fff;
  border-color: #fff !important;
}
.nav-tabs.nav-justified > li.active > a:hover{
  color: #6011b1;
}
.nav-fixed{
  position: fixed;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(8, 27, 73, 0.6);
  background: -moz-linear-gradient(45deg, rgba(8,27,73,0.97) 0%, rgba(30,101,178,0.97) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(8,27,73,0.97)), color-stop(100%, rgba(30,101,178,0.97))); /* safari4+,chrome */
  background: -webkit-linear-gradient(45deg, rgba(8,27,73,0.97) 0%, rgba(30,101,178,0.97) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(45deg, rgba(8,27,73,0.97) 0%, rgba(30,101,178,0.97) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(45deg, rgba(8,27,73,0.97) 0%, rgba(30,101,178,0.97) 100%); /* ie10+ */
  background: linear-gradient(45deg, rgba(8,27,73,0.97) 0%, rgba(30,101,178,0.97) 100%); /* w3c */
}




@media screen and (min-width: 992px) and (max-width: 1199px){
  .navbar-nav.navbar-right > li > a{
    padding: 10px 15px;
    font-size: 12px;
  }

}

@media screen and (min-width: 767px) and (max-width: 991px){
  .navbar.navbar-default .container{
    width: 100%;
  }
  .header-text h1{
    font-size: 26px;
  }
  .header-text p{
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .navbar-brand img{
    max-height: 40px;
  }
  .navbar-nav.navbar-right > li > a{
    padding: 10px 10px;
    font-size: 14px;
  }
  .stripe-bg .ul-style li p{
    font-size: 18px;
  }
  .stripe-bg .ul-style li{
    margin-bottom: 25px;
  }
  /*.campaigns .buttons button i img{*/
    /*max-width: 24px;*/
  /*}*/
  .nav-tabs.nav-justified > li > a > i > img{
    max-width: 30px;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-collapse.collapse.in {
    display: block !important;
  }
  .navbar-header .collapse, .navbar-toggle {
    display:block !important;
  }
  .navbar-header {
    float:none;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav {
    float: none;
  }
  .nav.navbar-nav {
    clear: both;
    float: left;
    margin: 0 0 0 -15px;
    width: 100%;
  }
  .navbar-nav.navbar-right > li{
    padding-top: 2px;
    padding-bottom: 2px;

  }
  .navbar-nav.navbar-right > li.active{
    background: rgba(0,0,0,0.15);
    padding-top: 2px;
    padding-bottom: 2px;

  }
  .navbar-collapse{
    background: rgba(9,29,73,0.97);
    box-shadow: 0px 3px 20px rgba(0,0,0,0.1);
  }
}
@media screen and (max-width: 767px){
  .navbar-nav.navbar-right > li{
    padding-top: 2px;
    padding-bottom: 2px;

  }
  .navbar-nav.navbar-right > li.active {
    background: rgba(0, 0, 0, 0.15);
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .navbar-collapse{
    background: rgba(9,29,73,0.97);
    box-shadow: 0px 3px 20px rgba(0,0,0,0.1);
  }
  .header-text h1{
    font-size: 26px;
  }
  .header-text p{
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .myDiv{
    padding: 50px 20px;
  }
  .myDiv .buttons span{
    display: block;
  }
  .gradient-border-top{
    margin-left: auto;
    margin-right: auto;
  }
  .super-easy-bg .col-sm-12{
    padding: 0px;
  }
  .myDiv .lower-div{
    padding: 75px 20px;
  }
  .myDiv .lower-div .col-md-4{
    margin-bottom: 30px;
    text-align: center;
  }
  .myDiv .lower-div .col-md-4 img{
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  #owl-brands .item img{
    max-width: 170px;
  }
  .nav-tabs.nav-justified > li{
    display: table-cell;
    width: 1%;
  }
  .nav-tabs.nav-justified > li > a > i > img{
    max-width: 30px;
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border-color: rgba(255,255,255,.01);
  }

}


