@import url('//raw.githubusercontent.com/necolas/normalize.css/master/normalize.css');

/*fonts-are-here */

@font-face {
    font-family: robo-light;
    src: url("../fonts/roboto/Roboto-Light.ttf");
}
@font-face {
    font-family: robo-medium;
    src: url("../fonts/roboto/Roboto-Medium.ttf");
}
@font-face {
    font-family: robo-bold;
    src: url("../fonts/roboto/Roboto-Bold.ttf");
}

@font-face {
    font-family: open-light;
    src: url("../fonts/openSans/OpenSans-Light.ttf");
}
@font-face {
    font-family: open-regular;
    src: url("../fonts/openSans/OpenSans-Regular.ttf");
}
@font-face {
    font-family: open-semibold;
    src: url("../fonts/openSans/OpenSans-Semibold.ttf");
}
@font-face {
    font-family: open-bold;
    src: url("../fonts/openSans/OpenSans-Bold.ttf");
}


.rL{
    font-family: robo-light;
}
.rM{
    font-family: robo-medium;
}
.rB{
    font-family: robo-bold;
}
.oL{
    font-family: open-light;
}
.oR{
    font-family: open-regular;
}
.oS{
    font-family: open-semibold;
}
.oB{
    font-family: open-bold;
}
body{
    font-family: open-regular;
    overflow-x: hidden;
}

/*fonts-are-here */




/*--------------------------------------*/




/*mix-styles-are-here*/

body p,
body span{
    line-height: 20pt;
}

button{
    outline: none !important;
}
a{
    outline: none !important;
    text-decoration: none !important;
}
.p0{
    padding: 0;
}
.m0{
    margin: 0;
}
.mtb20{
    margin-top: 20px;
    margin-bottom: 20px;
}
.responsive{
    padding-top: 20px;
    padding-bottom: 20px;
}
.margin-minus{
    margin-top: -60px;
}
.centered{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.logo{
    padding-top: 20px;
    padding-bottom: 20px;
}
.sectionP20{
    padding-top: 20px;
    padding-bottom: 20px;
}
.sectionP40{
    padding-top: 40px;
    padding-bottom: 40px;
}
.sectionP60{
    padding-top: 60px;
    padding-bottom: 60px;
}

p{
    font-size: 15px;
    color: #777;
}
a.g:hover{
    color: #FDA10E;
}
.forgot{
    color: #aaa;
    margin-top: 10px;
    transition: all 0.3s;
}
.forgot:hover{
    color: #666;
    transition: all 0.3s;
}
.br{
    border-right: 1px solid #eee;
}
.heading-text{
    margin-bottom: 20px;
}
.heading-text span{
    font-size: 32px;
    font-family: robo-light;
}
.ul-style{
    padding-left: 0px;
    list-style: none;
}

/*mix-styles-are-here*/



/*--------------------------------------*/




/*colors-are-here*/

.white{
    color: #fff;
}
.light{
    color: #555;
}
.light2{
    color: #999;
}
.blue{
    color: #1f558d;
}
.blue-L{
    color: #3870b1;
}
.gold{
    color: #FDA10E;
}
.gold-gradient-color{
    background:linear-gradient(to right, #FDA10E, #FF6C0D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s;
}
.blue-gradient-color{
    background:linear-gradient(to right, rgb(30,101,178) ,rgb(8,27,73));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s;
}

/*colors-are-here*/




/*--------------------------------------*/




/*backgrounds-are-here*/

.header-bg{
    background: url('http://placehold.it/1920x1090') center fixed;
    background-size: cover;
}
.blue-bg{
    background: rgba(9,29,73,0.97);
}
.gradient{
    background: -moz-linear-gradient(45deg, rgba(8,27,73,0.97) 0%, rgba(30,101,178,0.97) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(8,27,73,0.97)), color-stop(100%, rgba(30,101,178,0.97))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(8,27,73,0.97) 0%, rgba(30,101,178,0.97) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(8,27,73,0.97) 0%, rgba(30,101,178,0.97) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(8,27,73,0.97) 0%, rgba(30,101,178,0.97) 100%); /* ie10+ */
    background: linear-gradient(45deg, rgba(8,27,73,0.97) 0%, rgba(30,101,178,0.97) 100%); /* w3c */
    overflow: hidden;
}
.gradient50{
    background: -moz-linear-gradient(45deg, rgba(8,27,73,0.9) 0%, rgba(30,101,178,0.9) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(8,27,73,0.9)), color-stop(100%, rgba(30,101,178,0.9))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(8,27,73,0.9) 0%, rgba(30,101,178,0.9) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(8,27,73,0.9) 0%, rgba(30,101,178,0.9) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(8,27,73,0.9) 0%, rgba(30,101,178,0.9) 100%); /* ie10+ */
    background: linear-gradient(45deg, rgba(8,27,73,0.9) 0%, rgba(30,101,178,0.9) 100%); /* w3c */
    overflow: hidden;
}
.grey-bg{
    background: #f1f1f1;
}
.grey-bg-o{
    background: rgba(241,241,241,.97);
}
.counter-bg{
    background: url('http://placehold.it/1920x1090') left fixed;
    background-size: cover;
}
.hiw-bg{
    background: url('http://placehold.it/1920x1090') left fixed;
    background-size: cover;
}
.dark-bg{
    background: #0C1222;
}
.gold-gradient-bg{
    background: -moz-linear-gradient(left, #FDA10E 0%, #FF6C0D 100%);
    background: -webkit-linear-gradient(left, #FDA10E 0%, #FF6C0D 100%);
    background: -o-linear-gradient(left, #FDA10E 0%, #FF6C0D 100%);
    background: -ms-linear-gradient(left, #FDA10E 0%, #FF6C0D 100%);
    background: linear-gradient(to right, #FDA10E 0%, #FF6C0D 100%);
}

/*backgrounds-are-here*/




/*--------------------------------------*/




/*buttons-are-here*/

.info-btn{
    padding: 3px;
    border-radius: 3px;
    background: transparent;
}
.info-btn:hover{
    background: #eee;
}

.outline-button{
    padding: 2px;
}
.outline-button div{
    padding: 6px 30px;
    border-radius: 30px;
    font-size: 15px;
    font-family: open-regular;
    transition: all 0.3s;
}
.btn-gradient.outline-button div span{
    background:linear-gradient(to right, #FDA10E, #FF6C0D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s;
}
.btn-gradient.outline-button:hover div span{
    background:linear-gradient(to right, #FDA10E, #FF6C0D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: white;
    transition: all 0.5s;
}
.btn-gradient.outline-button2:hover{
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(253, 161, 14, 0.6);

}
.btn-gradient.outline-button:hover div{
    background: -moz-linear-gradient(left, #FDA10E 0%, #FF6C0D 100%) !important;
    background: -webkit-linear-gradient(left, #FDA10E 0%, #FF6C0D 100%) !important;
    background: -o-linear-gradient(left, #FDA10E 0%, #FF6C0D 100%) !important;
    background: -ms-linear-gradient(left, #FDA10E 0%, #FF6C0D 100%) !important;
    background: linear-gradient(to right, #FDA10E 0%, #FF6C0D 100%) !important;
    color: #fff;
    transition: all 0.5s;
}
.btn-white-outline{
    color: #fff;
    font-family: robo-medium;
    font-size: 15px;
    border-radius: 30px;
    border: none;
    padding: 12px 30px;
    letter-spacing: .5px;
    margin-bottom: 15px;
    background: transparent;
    border: 2px solid #fff;
    transition: all 0.3s;
}
.btn-white-outline:hover{
    color: #FDA10E;
    background: #fff;
    transition: all 0.5s;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.3);
}

/*buttons-are-here*/




/*--------------------------------------*/



/*input-styles-are-here*/

input {
    width: 100%;
    display: block;
    border: none;
    padding: 20px 0 20px 59px;
    border-bottom: 1px solid #e9e9e9;
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: -webkit-linear-gradient(to top, rgba(255, 255, 255, 0) 98%, #FDA10E 2%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 98%, #FDA10E 2%);
    background-position: -800px 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: open-light;
    font-size: 16px;
    color: #999;
}
input:valid{
    box-shadow: none;
    outline: none;
    background-position: 0 0;
    z-index: 9999999;
    color: #FDA10E;
    border-color: #FDA10E !important;
}
input:focus{
    box-shadow: none;
    outline: none;
    background-position: 0 0;
    color: #FDA10E;
    border-color: #FDA10E !important;
}
input:focus::-webkit-input-placeholder, input:valid::-webkit-input-placeholder {
    color: #FDA10E;
    visibility: visible !important;
}
.input-box{
    position: relative;
}
.input-box span{
    position: absolute;
    z-index: 5;
    top: 0;
    margin-top: 18px;
    font-size: 20px;
    left: 15px;
    color: #aaa;
    transition: all 0.3s;
}
.input-box input:focus + span{
    color: #fda10e;
    transition: all 0.5s;
}
.input-box input:valid + span{
    color: #fda10e;
    transition: all 0.5s;
}
textarea{
    width: 100%;
    display: block;
    border: none;
    padding: 20px 0 20px 59px;
    border-bottom: 1px solid #e9e9e9;
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 99%, #FDA10E 1%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 99%, #FDA10E 1%);
    background-position: -800px 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: open-light;
    font-size: 16px;
    color: #999;
}
textarea:focus{
    box-shadow: none;
    outline: none;
    background-position: 0 0;
    color: #FDA10E;
    border-color: #FDA10E !important;
}
textarea:focus::-webkit-input-placeholder, input:valid::-webkit-input-placeholder {
    color: #FDA10E;
    visibility: visible !important;
}
.input-box textarea:focus + span{
    color: #fda10e !important;
    transition: all 0.5s;
}

/*form-styles-are-here*/






/*why-choose-us-styles-are-here*/

.video-embed{
    width: 400px;
    height: 300px;
    border-radius: 8px;
    margin-bottom: 80px;
    cursor: pointer;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(8, 27, 73, 0.6);
}
.video-embed .thumb span{
    font-size: 40px;
    text-align: center;
    margin-top: 120px;
    display: block;
    transition: all 0.3s;
}
.video-embed .thumb{
    background: url('http://placehold.it/460x330');
    background-size: cover;
    width: 400px;
    height: 300px;
    position: absolute;
    border-radius: 8px;
}
.video-embed iframe{
    width: 100%;
    height: 300px;
    border-radius: 8px;
}
.quote-div{
    border-radius: 6px;
    max-width: 400px;
    padding: 10px 30px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(253, 161, 14, 0.8);
    position: absolute;
    right: -20px;
    bottom: 20px;
}
.quote-div p{
    line-height: 23px;
    font-size: 14px;
}
.video-embed:hover .thumb span i{
    -webkit-text-fill-color: #fff;
    transition: all 0.5s;
}

/*why-choose-us-styles-are-here*/



/*--------------------------------------*/



/*acordian-styling-here*/

.acordian{
    background: #fff;
    border-radius: 6px;
    margin-bottom: 12px;
    padding: 3px;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: background 0.3s ease-out;
    -moz-transition: background 0.3s ease-out;
    -o-transition: background 0.3s ease-out;
    transition: background 0.3s ease-out;
}
.active.gradient-accordian{
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(253, 161, 14, 0.6);
    background: -moz-linear-gradient(left, #FDA10E 0%, #FF6C0D 100%);
    background: -webkit-linear-gradient(left, #FDA10E 0%, #FF6C0D 100%);
    background: -o-linear-gradient(left, #FDA10E 0%, #FF6C0D 100%);
    background: -ms-linear-gradient(left, #FDA10E 0%, #FF6C0D 100%);
    background: linear-gradient(to right, #FDA10E 0%, #FF6C0D 100%);
    -webkit-transition: background 0.3s ease-in;
    -moz-transition: background 0.3s ease-in;
    -o-transition: background 0.3s ease-in;
    transition: background 0.3s ease-in;
}
/*.acordian:hover{
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(253, 161, 14, 0.6);
    background: -moz-linear-gradient(left, #FDA10E 0%, #FF6C0D 100%);
    background: -webkit-linear-gradient(left, #FDA10E 0%, #FF6C0D 100%);
    background: -o-linear-gradient(left, #FDA10E 0%, #FF6C0D 100%);
    background: -ms-linear-gradient(left, #FDA10E 0%, #FF6C0D 100%);
    background: linear-gradient(to right, #FDA10E 0%, #FF6C0D 100%);
    -webkit-transition: background 0.3s ease-in;
    -moz-transition: background 0.3s ease-in;
    -o-transition: background 0.3s ease-in;
    transition: background 0.3s ease-in;
}*/


.acordian .acordian-desc{
    padding-top: 18px;
    overflow: hidden;
    padding-bottom: 10px;
}
.acordian .acordian-desc i{
    font-size: 32px;
    margin-right: 15px;
    background:linear-gradient(to right, #FDA10E, #FF6C0D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s;

}
.acordian.active.gradient-accordian .acordian-desc i{
    -webkit-text-fill-color: white;
    transition: all 0.5s;
}
.acordian .acordian-desc span{
    font-size: 16px;
    margin: 0;
    margin-top: 3px;
    color: #999;
    position: relative;
    top: -6px;
    text-transform: uppercase;
    transition: all 0.3s;
}
.acordian.active.gradient-accordian .acordian-desc span{
    color: #fff;
    transition: all 0.5s;
}
.acordian .acordian-body{
    opacity: 0;
    border-top: 1px solid rgba(255,255,255,0.1);
    max-height: 0px;
    overflow: hidden;
    transition: all .2s ease-out;
}
.acordian.active.gradient-accordian .acordian-body span{
    font-size: 14.5px;
}
.acordian.active.gradient-accordian .acordian-body{
    opacity: 1;
    max-height: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: all .3s ease-in;
}

/*accordian-styling-here*/



/*--------------------------------------*/



/*services-div-is-here*/

.services-div{
    background: #fff;
    border-radius: 10px;
    margin-bottom: 60px;
    box-shadow: 0px 0px 35px rgba(255,142,3,.12);
    overflow: hidden;
}
.services-div .br{
    border-right: 1px solid #f1f1f1;
}
.services-div .service{
    padding: 20px 10px;
}
.services-div .service-icon{
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.services-div .service-icon i{
    background:linear-gradient(to right, #FDA10E, #FF6C0D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.services-div .service-hover{
    background: #fff;
    transition: all 0.3s;
}
.services-div .service-hover:hover{
    background: rgba(253,161,14,0.08);
    transition: all .5s;
}

/*services-div-is-here*/


/*service2--styles--are--here*/

.service2{
    padding: 20px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s;
}
.service2 .service2-icon{
    font-size: 45px;
    margin-bottom: 15px;
}
.service2 .service2-desc{
    padding-right: 15px;
}
.service2:hover{
    background: #fff;
    box-shadow: 0px 2px 20px rgba(0,0,0,0.1);
    transition: all 0.5s;
}

/*service2--styles--are--here*/





/*features-styles-are-here*/

.features .ul-style li{
    background: url('../images/tick.png');
    background-repeat: no-repeat;
    padding-left: 30px;
    margin-bottom: 15px;
}

/*features-styles-are-here*/


/*--------------------------------------*/




/*counter-styles-are-here*/

.counter-bg .br{
    border-right: 1px solid rgba(255,255,255,0.1);
}
.counter-bg .bb{
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
.counter-bg .numbers{
    padding: 20px 0px;
}
.counter-bg .numbers span{
    font-size: 52px;
    text-shadow: 0px 3px 7px rgba(0,0,0,.25);
    line-height: normal;
}
.counter-bg .numbers p{
    letter-spacing: 2px;
    text-transform: uppercase;
}

/*counter-styles-are-here*/




/*--------------------------------------*/




/*team-styles-are-here*/

.team-member{
    border-radius: 7px;
    margin-top: 15px;
    cursor: pointer;
    max-width: 280px;
    margin-bottom: 20px;
    transition: all 0.2s;
}
.team-member.tm1{
    background: url('http://placehold.it/290x390');
    background-size: cover;
}
.team-member.tm2{
    background: url('http://placehold.it/290x390');
    background-size: cover;
}
.team-member.tm3{
    background: url('http://placehold.it/290x390');
    background-size: cover;
}
.team-member.tm4{
    background: url('http://placehold.it/290x390');
    background-size: cover;
}
.team-member .member-desc{
    min-height: 350px;
    padding: 40px 15px;
    text-align: center;
    border-radius: 7px;
    opacity: 0;
    background: -moz-linear-gradient(45deg, rgba(30,101,178,0.94) 0%, rgba(8,27,73,0.94) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(8,27,73,0.94)), color-stop(100%, rgba(8,27,73,0.94))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(30,101,178,0.94) 0%, rgba(8,27,73,0.94) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(30,101,178,0.94) 0%, rgba(8,27,73,0.94) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(30,101,178,0.94) 0%, rgba(8,27,73,0.94) 100%); /* ie10+ */
    background: linear-gradient(45deg, rgba(30,101,178,0.94) 0%, rgba(8,27,73,0.94) 100%); /* w3c */
    transition: all 0.3s;
}
.team-member .member-desc p{
    font-size: 22px;
    text-transform: uppercase;
}
.team-member .member-desc small{
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #ccc !important;
    display: block;
}
.team-member .member-desc .social-icons{
    margin-top: 20px;
    margin-bottom: 10px;
}
.team-member .member-desc .social-icons a{
    margin-left: 5px;
    margin-right: 5px;
}
.team-member .member-desc .social-icons a i{
    font-size: 18px;
    background:linear-gradient(to right, #fff, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255,255,255,.075);
    transition: all 0.3s;
}
.team-member .member-desc .social-icons a:hover i{
    background:linear-gradient(to right, #FDA10E, #FF6C0D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.35s;
}
.team-member:hover{
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(8, 27, 73, 0.6);
    margin-top: 0px;
    margin-bottom: 35px;
    transition: all 0.35s;
}
.team-member:hover .member-desc{
    opacity: 1;
    transition: all 0.35s;
}

/*team-styles-are-here*/



.header-pad{
    padding-top: 120px;
    padding-bottom: 120px;
}
.header-text p{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 17px;
}



/*testimonial-styles-are-here*/

.testi-text{
    background: rgba(255,255,255,0.02);
    border-radius: 7px;
    padding: 30px;
    border: 1px solid #fff;
    cursor: pointer;
    text-align: center;
}
.testi-text p{
    font-size: 16px;
}
.testi-text span{
    font-size: 14px;
    text-transform: uppercase;
}
.testi-text small{
    display: block;
    text-transform: lowercase;
}
.testi-text img{
    margin-top: 10px;
    margin-bottom: 10px;
}
.testi-p-image .person-image div{
    border-radius: 50%;
    padding: 3px;
    border: 1px solid #fff;
}
.testi-p-image .person-image div{
    border-radius: 50%;
    padding: 4px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 88px;
    height: 88px;
    border: 1px solid #fff;
}
.testi-p-image .arrow-image img{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.testi-p-image .person-image img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;
}
#testimonial .owl-controls{
    display: none !important;
}

/*testimonial-styles-are-here*/


/*login-div-styles-are-here*/

.login-div{
    border-radius: 10px;
    background: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 20px;
    max-width: 320px;
    overflow: hidden;
    box-shadow: 0px 2px 25px rgba(0,0,0,0.25);
}
.login-div .head{
    padding-left: 20px;
}
.login-div .head h3{
    font-family: robo-medium;
    color: #174583;
    font-size: 20px;
}
.login-div .head p{
    font-family: open-regular;
    color: #aaa;
    font-size: 14px;
}
.login-div .foot{
    padding: 15px 20px;
}
.login-div .body{
    margin-top: 42px;
    margin-bottom: 42px;
    border-top: 1px solid #e9e9e9;
}
.login-div .btn-gradient:hover{
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(253, 161, 14, 0.6);

}

/*login-div-styles-are-here*/



/*-------------------------------------*/




/*footer-styles-are-here*/

footer .company-desc a img{
    margin-bottom: 15px;
}
footer .company-desc p{
    font-size: 15px;
    margin-bottom: 20px;
}
footer .meet-us{
    margin-bottom: 20px;
}
footer .meet-us p{
    font-size: 25px;
    margin-bottom: 10px;
}
footer .meet-us span{
    font-size: 14px;
}
footer .cont-us{
    margin-bottom: 20px;
}
footer .cont-us p{
    font-size: 25px;
    margin-bottom: 10px;
}
footer .cont-us a{
    font-size: 14px;
    clear: both;
}
footer .border-right{
    border-right: 1px solid rgba(255,255,255,0.05);
}

/*footer-styles-are-here*/




/*-------------------------------------*/




/*scroll-bar-atyle-are-here*/

.nicescroll-rails div{
    width: 5px !important;
    height: 25px;
    border-radius: 2px;
    border: none !important;
    background: -moz-linear-gradient(top, #FDA10E 0%, #FF6C0D 100%);
    background: -webkit-linear-gradient(top, #FDA10E 0%, #FF6C0D 100%);
    background: -o-linear-gradient(top, #FDA10E 0%, #FF6C0D 100%);
    background: -ms-linear-gradient(top, #FDA10E 0%, #FF6C0D 100%);
    background: linear-gradient(to bottom, #FDA10E 0%, #FF6C0D 100%);
}

/*scroll-bar-atyle-are-here*/




/*google-map-styles-are-here*/

.map-container {
    width: 100%;
}
.map-container iframe{
    width: 100%;
    display: block;
    pointer-events: none;
    position: relative; /* IE needs a position other than static */
}
.map-container iframe.clicked{
    pointer-events: auto;
}

/*google-map-styles-are-here*/


/*back-to-button-style-is-here*/

#myBtn{
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    opacity: .5;
}
#myBtn:hover{
    opacity: 1;
}

/*back-to-button-style-is-here*/



/*loader-styles-are-here*/

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    background: url('../images/preloader-small.gif') center no-repeat #fff;
}

/*loader-styles-are-here*/



/*pop-register-styles-are-here*/

#pop-register .modal-dialog{
    top: 40px;
    max-width: 340px;
    margin-bottom: 20px;
}
#pop-register .modal-content{
    border-radius: 10px;
}
#pop-register .modal-header{
    border-color: #e9e9e9;
}
#pop-register .modal-footer{
    border: none;
}
/*pop-register-styles-are-here*/


/*rest-pop-ups-styles-are-here*/

#pop-about .modal-header,
#pop-about .modal-footer,
#pop-read-more1 .modal-header,
#pop-read-more1 .modal-footer,
#pop-read-more2 .modal-header,
#pop-read-more2 .modal-footer,
#pop-read-more3 .modal-header,
#pop-read-more3 .modal-footer,
#pop-read-more4 .modal-header,
#pop-read-more4 .modal-footer{
    border: none;
}

/*rest-pop-ups-styles-are-here*/
