<a  href="javascript:;">
  <button class="btn btn-gradient outline-button"
          style="margin-bottom: 0px;"
          data-toggle="modal"
          data-target="#pop-register">
      <div style="background: #1C589B;transition: all 0.3s;"> Register </div>
  </button>
</a>
