

/*buttons-are-here*/

.info-btn{
  padding: 3px;
  border-radius: 3px;
  background: transparent;
}
.info-btn:hover{
  background: #eee;
}
.btn-gradient{
  color: #fff;
  font-family: robo-medium;
  font-size: 15px;
  border-radius: 30px;
  border: none;
  padding: 12px 30px;
  letter-spacing: .5px;
  margin-bottom: 15px;
  background: -moz-linear-gradient(left, #FDA10E 0%, #FF6C0D 100%);
  background: -webkit-linear-gradient(left, #FDA10E 0%, #FF6C0D 100%);
  background: -o-linear-gradient(left, #FDA10E 0%, #FF6C0D 100%);
  background: -ms-linear-gradient(left, #FDA10E 0%, #FF6C0D 100%);
  background: linear-gradient(to right, #FDA10E 0%, #FF6C0D 100%);
  transition: all 0.3s;
}
.btn-gradient:hover{
  color: #fff;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.3);
  transition: all 0.5s;
}
.btn-gradient:focus{
  color: #fff;
}
.outline-button{
  padding: 2px;
}
.outline-button div{
  padding: 6px 30px;
  border-radius: 30px;
  font-size: 15px;
  font-family: open-regular;
  transition: all 0.3s;
}
.btn-gradient.outline-button div span{
  background:linear-gradient(to right, #FDA10E, #FF6C0D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s;
}
.btn-gradient.outline-button:hover div span{
  background:linear-gradient(to right, #FDA10E, #FF6C0D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: white;
  transition: all 0.5s;
}
.btn-gradient.outline-button2:hover{
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(253, 161, 14, 0.6);

}
.btn-gradient.outline-button:hover div{
  background: -moz-linear-gradient(left, #FDA10E 0%, #FF6C0D 100%) !important;
  background: -webkit-linear-gradient(left, #FDA10E 0%, #FF6C0D 100%) !important;
  background: -o-linear-gradient(left, #FDA10E 0%, #FF6C0D 100%) !important;
  background: -ms-linear-gradient(left, #FDA10E 0%, #FF6C0D 100%) !important;
  background: linear-gradient(to right, #FDA10E 0%, #FF6C0D 100%) !important;
  color: #fff;
  transition: all 0.5s;
}
.btn-white-outline{
  color: #fff;
  font-family: robo-medium;
  font-size: 15px;
  border-radius: 30px;
  border: none;
  padding: 12px 30px;
  letter-spacing: .5px;
  margin-bottom: 15px;
  background: transparent;
  border: 2px solid #fff;
  transition: all 0.3s;
}
.btn-white-outline:hover{
  color: #FDA10E;
  background: #fff;
  transition: all 0.5s;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.3);
}

/*buttons-are-here*/
