<footer id="contact-section" class="sectionP60 dark-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-7 col-sm-7 col-xs-12 pull-right resCont">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="heading-text">
              <span class="gold-gradient-color">Get in touch.</span>
            </div>
          </div>
          <form action="">
            <div class="col-md-12 col-sm-12 col-xs-12 p0">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="input-box">
                  <input placeholder="Full Name" type="text" required>
                  <span style="position: absolute"><i class="fa fa-user"></i></span>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="input-box">
                  <input placeholder="Email Address" type="text" required>
                  <span style="position: absolute"><i class="fa fa-envelope-o"></i></span>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 p0">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="input-box">
                  <input placeholder="Mobile or Telephone" type="text" required>
                  <span style="position: absolute"><i class="fa fa-phone"></i></span>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="input-box">
                  <input placeholder="Subject" type="text" required>
                  <span style="position: absolute"><i class="fa fa-puzzle-piece"></i></span>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 p0">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="input-box">
                  <textarea placeholder="Type your message here..." name="" id="" cols="30" rows="5"></textarea>
                  <span style="position: absolute"><i class="fa fa-comments"></i></span>
                </div>
              </div>
            </div>
            <button class="btn btn-gradient outline-button pull-right mtb20"><div style="background: #0C1222;transition: all 0.3s">Send <i class="hidden-xs">Message</i></div></button>
          </form>
        </div>
        <div class="col-md-4 col-sm-5 col-xs-12 border-right resCompany">
          <div class="company-desc logoo">
            <a href="#home-section"><img class="img-responsive" src="http://placehold.it/146x42"/></a>
            <p class="light2 rl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque corporis dignissimos eius eos est explicabo.</p>
          </div>
          <div class="meet-us">
            <p class="gold rL">MEET US</p>
            <span class="light2 oR">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque corporis dignissimos eius eos est explicabo, impedit magnam magni.</span>
          </div>
          <div class="cont-us">
            <p class="gold rL">Contact Us</p>
            <div><a class="light2 g" href="javascript:;"><span class="oR">Landline : +061 - 1234 - 5678</span></a></div>
            <div><a class="light2 g" href="javascript:;"><span class="oR">Mobile : +1 987654 - 3210</span></a></div>
            <div><a class="light2 g" href="javascript:;"><span class="oR">Email : info@example.com</span></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
