<section id="offers-section" class="hiw-bg">
  <div class="sectionP60 grey-bg-o">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 text-center">
            <div data-aos="fade-up" data-aos-duration="1000">
              <div class="heading-text">
                <span class="gold-gradient-color">What we can offer?</span>
              </div>
              <p class="light oR" style="font-size: 16px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
          </div>
          <div class="col-md-12 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-12 p0 sectionP40">
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div data-aos="fade-up" data-aos-duration="1000">
                <img class="img-responsive centered" src="assets/images/laptop.png"/>
              </div>
            </div>
            <div class="col-md-5 col-sm-12 col-xs-12 sectionP20 pull-right">
              <div class="acordian gradient-accordian" data-aos="fade-up" data-aos-duration="1000">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="col-md-12 col-sm-12 col-xs-12 pull-right">
                    <div class="acordian-desc res-txt-center">
                      <i class="fa fa-heart-o"></i><span class="rM">Easy to Use</span>
                    </div>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="acordian-body res-txt-center">
                      <span class="white rL">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, Ut enim ad minim.</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="acordian active gradient-accordian" data-aos="fade-up" data-aos-duration="1000">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="col-md-12 col-sm-12 col-xs-12 pull-right">
                    <div class="acordian-desc res-txt-center">
                      <i class="fa fa-paint-brush"></i><span class="rM">Ultimate Interface</span>
                    </div>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="acordian-body res-txt-center">
                      <span class="white rL">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, Ut enim ad minim.</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="acordian gradient-accordian" data-aos="fade-up" data-aos-duration="1000">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="col-md-12 col-sm-12 col-xs-12 pull-right">
                    <div class="acordian-desc res-txt-center">
                      <i class="fa fa-rocket"></i><span class="rM">Carzy Fast</span>
                    </div>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="acordian-body res-txt-center">
                      <span class="white rL">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, Ut enim ad minim.</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="acordian gradient-accordian" data-aos="fade-up" data-aos-duration="1000">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="col-md-12 col-sm-12 col-xs-12 pull-right">
                    <div class="acordian-desc res-txt-center">
                      <i class="fa fa-pencil"></i><span class="rM">Easy to Edit</span>
                    </div>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="acordian-body res-txt-center">
                      <span class="white rL">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, Ut enim ad minim.</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
