<section id="why-us-section" class="sectionP60">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-5 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-12">
          <div class="responsive rsb"  data-aos="fade-right" data-aos-duration="1000">
            <div class="heading-text">
              <span class="blue-gradient-color">Why choose PayYou?</span>
            </div>
            <p class="light oR">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <br>
            <p class="light oR">
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
          </div>
        </div>
        <div class="col-md-5 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
          <div class="video-embed pull-right" data-aos="fade-left" data-aos-duration="1000">
            <div class="thumb">
              <span><i class="gold-gradient-color fa fa-youtube-play"></i></span>
            </div>
            <iframe width="533" height="300" src="https://www.youtube.com/embed/2LeOH9AGJQM?rel=0" frameborder="0" allowfullscreen></iframe>
            <!--<iframe src="https://player.vimeo.com/video/202406936?title=0&amp;byline=0&amp;portrait=0&amp;color=FDA10E&amp;autoplay=0" width="100%" height="300" autoplay="0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></iframe>-->
          </div>
          <div class="quote-div gold-gradient-bg pull-right" data-aos="fade-up" data-aos-duration="1000">
            <p class="white oR">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
