<app-main-navigation></app-main-navigation>
<app-home-section></app-home-section>
<app-about-section></app-about-section>
<app-why-us-section></app-why-us-section>
<app-how-we-work-section></app-how-we-work-section>
<app-number-counter-section></app-number-counter-section>
<app-what-we-offer-section></app-what-we-offer-section>
<app-our-best-features-section></app-our-best-features-section>
<app-contact-section></app-contact-section>
<app-copyright-section></app-copyright-section>
<app-back-to-top-button-section></app-back-to-top-button-section>
<app-popups-section></app-popups-section>
