<section id="about-section" class="grey-bg" style="padding-bottom: 60px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="services-div margin-minus" data-aos="fade-up" data-aos-duration="1000">
          <div class="col-md-3 col-sm-6 col-xs-12 text-center br service-hover">
            <div class="service" data-aos="zoom-in" data-aos-duration="1000">
              <div class="service-icon">
                <i class="fa fa-puzzle-piece"></i>
              </div>
              <div class="service-desc">
                <h4 class="blue oB">For Developers</h4>
                <p class="light oR">Lorem ipsum dolor sit amet, consectetur adipisicing elit, Aliquam amet beatae.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 text-center br b0 service-hover">
            <div class="service" data-aos="zoom-in" data-aos-duration="1000">
              <div class="service-icon">
                <i class="fa fa-paint-brush"></i>
              </div>
              <div class="service-desc">
                <h4 class="blue oB">For Designers</h4>
                <p class="light oR">Lorem ipsum dolor sit amet, consectetur adipisicing elit, Aliquam amet beatae.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 text-center br b0 service-hover">
            <div class="service" data-aos="zoom-in" data-aos-duration="1000">
              <div class="service-icon">
                <i class="fa fa-hourglass-2"></i>
              </div>
              <div class="service-desc">
                <h4 class="blue oB">Save Time</h4>
                <p class="light oR">Lorem ipsum dolor sit amet, consectetur adipisicing elit, Aliquam amet beatae.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 text-center br service-hover">
            <div class="service" data-aos="zoom-in" data-aos-duration="1000">
              <div class="service-icon">
                <i class="fa fa-dollar"></i>
              </div>
              <div class="service-desc">
                <h4 class="blue oB">Save Money</h4>
                <p class="light oR">Lorem ipsum dolor sit amet, consectetur adipisicing elit, Aliquam amet beatae.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 text-center">
          <div id="wwa">
            <div class="heading-text" data-aos="fade-up" data-aos-duration="1000">
              <span class="gold-gradient-color">WHO WE ARE?</span>
            </div>
            <p class="light oR" data-aos="fade-up" data-aos-duration="1000">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <button class="btn btn-gradient outline-button mtb20" data-toggle="modal" data-target="#pop-about" data-aos="zoom-in-up" data-aos-duration="800"><div style="background: #f1f1f1;transition: all 0.3s"><span>Read More About Us</span></div></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
