<section id="home-section" class="header-bg">
  <div class="gradient sectionP60 header-pad">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="row">
            <div class="col-md-5 col-sm-5 col-xs-12 header-text sectionP60">
              <h1 class="rL white">PayYou Will</h1>
              <h1 class="rL white">Make it Happen!</h1>
              <p class="rL blue-L">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <button class="btn btn-gradient" data-aos="zoom-in-up" data-aos-duration="800">Buy Theme Now</button>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 pull-right">
              <div class="login-div centered" data-aos="fade-up" data-aos-duration="1000">
                <div class="head">
                  <h3 class="purple oR m0">LOGIN</h3>
                  <p class="light oR">Enter your credentials to login.</p>
                </div>
                <form action="">
                  <div class="body">
                    <div class="input-box">
                      <input placeholder="Email or Username" type="text" required>
                      <span style="position: absolute"><i class="fa fa-user"></i></span>
                    </div>
                    <div class="input-box">
                      <input placeholder="Password" type="password" required>
                      <span style="position: absolute"><i class="fa fa-key"></i></span>
                    </div>
                  </div>
                  <div class="foot">
                    <a href="javascript:;" class="forgot pull-left"><small>forgot your password?</small></a>
                    <button class="btn btn-gradient W100 pull-right" data-aos="zoom-in-up" data-aos-duration="800">Login!</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
