<section class="counter-bg">
  <div class="sectionP40 blue-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-5 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-12">
            <div class="responsive" data-aos="fade-right" data-aos-duration="1000">
              <div class="heading-text">
                <span class="gold-gradient-color">Little bit of stats.</span>
              </div>
              <p class="light2 oL" style="font-size: 16px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
              <button class="btn btn-gradient outline-button mtb20 hidden-sm hidden-xs"  data-aos="zoom-in-up" data-aos-duration="800"><div  style="background: #091D48;transition: all 0.3s">Buy Now</div></button>
            </div>
          </div>
          <div id="counter" class="col-md-5 col-sm-12 col-xs-12 pull-right resPad0">
            <div class="col-md-6 col-sm-3 col-xs-6 br bb">
              <div class="numbers text-center" data-aos="zoom-in" data-aos-duration="1000">
                <span class="numscroller rB gold-gradient-color" data-min='0000' data-max='4969' data-delay='1' data-increment='25'>00</span>
                <p class="white oR">Downloads</p>
              </div>
            </div>
            <div class="col-md-6 col-sm-3 col-xs-6 bb">
              <div class="numbers text-center" data-aos="zoom-in" data-aos-duration="1000">
                <span class="numscroller rB gold-gradient-color" data-min='0000' data-max='4670' data-delay='1' data-increment='25'>00</span>
                <p class="white oR">Theme Lovers</p>
              </div>
            </div>
            <div class="col-md-6 col-sm-3 col-xs-6 br">
              <div class="numbers text-center" data-aos="zoom-in" data-aos-duration="1000">
                <span class="numscroller rB gold-gradient-color" data-min='0000' data-max='4343' data-delay='1' data-increment='25'>00</span>
                <p class="white oR">Followers</p>
              </div>
            </div>
            <div class="col-md-6 col-sm-3 col-xs-6">
              <div class="numbers text-center" data-aos="zoom-in" data-aos-duration="1000">
                <span class="numscroller rB gold-gradient-color" data-min='0000' data-max='4546' data-delay='1' data-increment='25'>00</span>
                <p class="white oR">Haters</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
