<section class="sectionP20" style="background: #0b101d;">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-12">
          <p class="light oR m0" style="opacity: .65">&copy; Copyright 2017 Logicmade Solutions Ltd, all rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</section>
